body{
background-color:#6699ff
;color:#d5e3ff;
font-family: Arial;
}

head{
background-color:#6699ff;
color:#003366;
font-family:serif;
}

h1{
line-height: 200%;
color: #003366;
font-family: serif;
}

nav{
font-weight:bold;
}
.category{
background-color:#6699ff;
color:#003366;
font-weight:bold;
font-size:1.1em;
}
footer{
font-size:.70em;
font-style:italic;
}

#wrapper{
width:80%;
margin-right:auto;
margin-left:auto;
}